/*Typography*/
body{
    font-family: 'Roboto', sans-serif;
    background: #6d6e71;  
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    
}
header{
    font-family: 'Roboto', sans-serif;
    font-size: 10em;
}

/* YOUR STYLES */
.cd-header {
    
    background: #a10022;
    
}
/* content containers*/
.cd-gallery li.mix {
    background: white;
}

/* grid view*/
.grid li.mix {
    padding: 20px;
    
  
}
/*list view*/
.list li.mix {
   width: 100%;
}
.list li.mix p {
    display: none;
}